* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #8FA49B;
    color: #E9E0D1;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr; 
    min-height: 100vh; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: linear-gradient(to right,#1E3C34,#33605A,#33605A, #1E3C34);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: #E9E0D1 solid 1px;
    z-index: 3;  
    grid-colqumn: 1 / 3;
}

.navbar a {
    margin-left: 30px;
    text-decoration: none;
    color: #E9E0D1;
    font-weight: 500;
    transition: 0.3s;
    font-size: 16px;
}

.navbar a:hover {
    opacity: 0.9;
}

.stuff {
    padding: 140px 60px 60px 60px;
    display: grid; 
    gap: 20px;
    background: linear-gradient(to right,#4a7c78,#83aca7, #4a7c78);
    overflow: hidden;
    position: relative;
    z-index: 1;
    grid-row:2;
}

.rectangulo1{
    padding: 20px;
    backdrop-filter: blur(0.6rem);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(52, 83, 62, 0.2);
    height: 400px;
    min-width:30px;
    border-radius: 15px;
}

.pago {
    padding: 140px 60px 60px 60px;
    display: grid; 
    align-content: start;
    gap: 20px;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(to right,#4a7c78,#83aca7, #4a7c78);
    grid-row: 2;
}
.rectangulo2{
    padding: 20px;
    backdrop-filter: blur(0.6rem);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(52, 83, 62, 0.2);
    height: 300px;
    border-radius: 15px;
}