* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #8FA49B;
    color: #E9E0D1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: linear-gradient(to right,#1E3C34,#33605A,#33605A, #1E3C34);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border: #E9E0D1 solid 1px;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.navbar a {
    margin-left: 30px;
    text-decoration: none;
    color: #E9E0D1;
    font-weight: 500;
    transition: 0.3s;
    font-size: 16px;
}

.navbar a:hover {
    opacity: 0.7;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#1E3C34,#33605A,#33605A, #1E3C34);
    padding: 60px;
    overflow: hidden;
    z-index: -1;   
    width: 100%; 
    top: 0;
    bottom: 0;
    position: fixed; 
}
.hero-text h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

.hero-text p {
    font-size: 13px;
    line-height: 1.6;
}

.hero-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border-radius: 15px;
}

.main{
    background: linear-gradient(to right,#4a7c78,#83aca7,#83aca7, #4a7c78);
    padding: 40px 0;
    margin-top: 100vh;  
    position: relative;
    z-index: 2;
}
.buscador {
    padding: 30px 60px;
}

.buscador input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.08); 
    backdrop-filter: blur(0.4rem); 
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(52, 83, 62, 0.2);
}


.recomendaciones{
    padding: 40px 60px;
    text-align: center;
}

.recomendaciones h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.recomendaciones button{
    background-color: #2F5D50;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.recomendaciones button:hover {
    background-color: #24483E;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card1,.card2,.card3,.card4 {
    flex: 1;
    backdrop-filter: blur(0.4rem);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(52, 83, 62, 0.2);
    height: 200px;
    min-width:30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    text-align: center;   
    letter-spacing: 1px;   
    line-height: 30px;
}

 .pincel-deco {
    position: absolute;
    top: 30%;
    left: 30%;;
    width: 600px;
    z-index: 0;
 }
.productos {
    padding: 40px 60px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.producto {
    backdrop-filter: blur(0.4rem);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(52, 83, 62, 0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 120px;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: #2F5D50;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.producto button:hover {
    background-color: #24483E;
}


@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .main{
        margin-top: 120vh;
    }

    .recomendaciones h2 {
        font-size: 30px;
    }

    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }
    .pincel-deco {
        width: 300px;
        top: 40%;
        left: 50%;
        z-index: -1;
    }

    .cards {
        flex-direction: column;
    }
}