* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #8FA49B;
    color: #F5F5F5;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #2F5D50;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

.navbar a {
    margin-left: 30px;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    opacity: 0.7;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F5D50;
    padding: 60px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 14px;
    line-height: 1.6;
}

.hero-img img {
    width: 400px;
    border-radius: 10px;
}


.buscador {
    padding: 30px 60px;
}

.buscador input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background-color: #7A9289;
    color: white;
    font-size: 16px;
}


.recomendaciones {
    padding: 40px 60px;
    text-align: center;
}

.recomendaciones h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card1,.card2,.card3,.card4 {
    flex: 1;
    background-color: #6F867D;
    height: 150px;
    border-radius: 15px;
}


.productos {
    padding: 40px 60px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.producto {
    background-color: #6F867D;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 120px;
    margin-bottom: 15px;
}

.producto h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: #2F5D50;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.producto button:hover {
    background-color: #24483E;
}


@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        flex-direction: column;
    }
}